// COLORS

$black: #141313;
$gray: #a4a4a4;
// $light-gray: lighten($gray, 15%);
$light-gray: #ededed;
$dark-gray: darken($gray, 25%);
$offwhite: #eeeeee;
$white: #ffffff;
$green: #7ab49b;
$purple: #4e4f93;
$dark-purple: #080a3b;
$blue1: #7fb1bc;	// from PSD
$blue2: #a7e0ed;	// Tweaked
$blue3: #668bfe;	// From Alec's Hero
$blue4: #6a95fe;
$link-blue: #1e63ff;


$box-shadow: -5px 15px 20px 0 rgba($black, 0.1);
$box-shadow-heavy: -5px 20px 25px 0 rgba($black, 0.15);

$error-color: #822525;

$blue: desaturate($blue4, 30%);

$trans-dark: #35121112;


// $body-font: "Prompt", sans-serif;

$fonta:'Catamaran', sans-serif;
$fontb:'Bree Serif', serif;
// $fontc:'Palanquin', sans-serif;
$fontc:'Kanit', sans-serif;
$fontd: 'Noto Sans', sans-serif;
$fonte: 'Fjalla One', serif;

// $body-font: $fonta;
// $body-font: $fontb;
// $body-font: $fontc;	// use 300
$body-font: $fontd;
$body-font-weight: 400;

$heading-font: $fonte;
// $heading-font: $fontb;
// $heading-font: $fontc;

// FOUNDATION OVERRIDES
$nav-height: 80px;
$nav-height-mobile: 65px;
$fast-trans: all 250ms;
$slow-trans: all 500ms;

.green{
	color: $green;
}
.blue{
	color: $blue;
}
.light-gray{
	color: $light-gray;
}
.gray{
	color: $gray;
}
.dark-gray{
	color: $dark-gray;
}
.purple{
	color: $purple;
}
.black{
	color: $black;
}
.white-bg{
	background-color: $white;
}
.light-gray-bg{
	// background-color: lighten($gray, 34%);
	background-color: #ededed;
}
.gray-bg{
	background-color: $gray;
}
.dark-bray-bg{
	background-color: darken($gray, 50%);
}
.black-bg{
	background-color: $black;
}
.green-bg{
	background-color: $green;
}
// Oh, hello
//=======================================
// IAN'S UTILITY CLASSES
// I like throwing these into the markup 
// 	instead of writing single-item rules
//=======================================

//===============
// BROWSER QUIRKS
//===============
input::-moz-placeholder, textarea::-moz-placeholder {
	opacity: 1;
}
input:-webkit-autofill {  
-webkit-box-shadow: 0 0 0 1000px #ffffff inset !important;
}

//============
// TYPOGRAPHY
//============
$normal: 400;
$bold: 600;
$xbold: 800;
.upper{
text-transform: uppercase;
}
.caps{
text-transform: capitalize;
}
.lower{
text-transform: lowercase;
}
.xbold{
	font-weight: $xbold;
}
.bold{
	font-weight: $bold;
}
.normal{
	font-weight: $normal;
}
.slim{
	font-weight: 300;
}

//==========================
// POSITIONING / VISIBILITY
//==========================
.rel{
	position: relative;
}
.abs{
	position: absolute;
}
.flex{
	display: flex;
}
.block{
	display: block;
}
.inline-block{
	display: inline-block;
}
.lift{
	z-index: 111;
}

//==========================
// PADDING AND MARGIN STUFF
//==========================
.no-pad{
padding: 0;
}
.no-marg{
margin: 0;
}

@media screen and(max-width: 639px){
	.mob-fullwidth{
		width: 100%;
	}
	.mob-tb-pad-15{
		padding-top: 15px;
		padding-bottom: 15px;
		}
		.mob-tb-pad-30{
		padding-top: 30px;
		padding-bottom: 30px;
		}
		.mob-tb-pad-45{
		padding-top: 45px;
		padding-bottom: 45px;
		}
		.mob-tb-pad-60{
		padding-top: 60px;
		padding-bottom: 60px;
		}
		.mob-tb-pad-75{
		padding-top: 75px;
		padding-bottom: 75px;
		}
		.mob-tb-pad-90{
		padding-top: 90px;
		padding-bottom: 90px;
		}
		.mob-tb-pad-120{
		padding-top: 120px;
		padding-bottom: 120px;
		}
		.mob-tb-pad-150{
		padding-top: 150px;
		padding-bottom: 150px;
		}
	
		// Top Padding
		.mob-t-pad-15{
		padding-top: 15px;
		}
		.mob-t-pad-30{
		padding-top: 30px;
		}
		.mob-t-pad-45{
		padding-top: 45px;
		}
		.mob-t-pad-60{
		padding-top: 60px;
		}
		.mob-t-pad-75{
		padding-top: 75px;
		}
		.mob-t-pad-90{
		padding-top: 90px;
		}
		.mob-t-pad-120{
		padding-top: 120px;
		}
		.mob-t-pad-150{
		padding-top: 150px;
		}
	
		// LR-PAD
		.mob-lr-pad-10{
			padding-left: 10px;
			padding-right: 10px;
		}
		.mob-lr-pad-15 {
			padding-left: 15px;
			padding-right: 15px;
		}
		.mob-lr-pad-20{
			padding-left: 20px;
			padding-right: 20px;
		}
		.mob-lr-pad-30 {
			padding-left: 30px;
			padding-right: 30px;
		}
		.mob-lr-pad-45 {
			padding-left: 45px;
			padding-right: 45px;
		}
		.mob-lr-pad-60 {
			padding-left: 60px;
			padding-right: 60px;
		}
		// Bottom Padding
		.mob-b-pad-15{
		padding-bottom: 15px;
		}
		.mob-b-pad-30{
		padding-bottom: 30px;
		}
		.mob-b-pad-45{
		padding-bottom: 45px;
		}
		.mob-b-pad-60{
		padding-bottom: 60px;
		}
		.mob-b-pad-75{
		padding-bottom: 75px;
		}
		.mob-b-pad-90{
		padding-bottom: 90px;
		}
		.mob-b-pad-120{
		padding-bottom: 120px;
		}
		.mob-b-pad-150{
		padding-bottom: 150px;
		}
	
		// Left/right padding
		.mob-l-pad-30 {
			padding-left: 30px;
		}
		.mob-r-pad-30 {
			padding-right: 30px;
		}
	
		// Top Margin
		.mob-t-marg-15{
		margin-top: 15px;
		}
		.mob-t-marg-30{
		margin-top: 30px;
		}
		.mob-t-marg-45{
		margin-top: 45px;
		}
		.mob-t-marg-60{
		margin-top: 60px;
		}
		.mob-t-marg-75{
		margin-top: 75px;
		}
		.mob-t-marg-90{
		margin-top: 90px;
		}
		.mob-t-marg-120{
		margin-top: 120px;
		}
		.mob-t-marg-150{
		margin-top: 150px;
		}
	
		// Bottom Margin
		.mob-b-marg-15{
			margin-bottom: 15px;
		}
		.mob-b-marg-30{
			margin-bottom: 30px;
		}
		.mob-b-marg-45{
			margin-bottom: 45px;
		}
		.mob-b-marg-60{
			margin-bottom: 60px;
		}
		.mob-b-marg-75{
			margin-bottom: 75px;
		}
		.mob-b-marg-90{
			margin-bottom: 90px;
		}
		.mob-b-marg-120{
			margin-bottom: 120px;
		}
		.mob-b-marg-150{
			margin-bottom: 150px;
		}
	
		// Left Margin
		.mob-l-marg-15{
			margin-left: 15px;
		}
		.mob-l-marg-30{
			margin-left: 30px;
		}
		.mob-l-marg-45{
			margin-left: 45px;
		}
		.mob-l-marg-60{
			margin-left: 60px;
		}
		.mob-l-marg-75{
			margin-left: 75px;
		}
		.mob-l-marg-90{
			margin-left: 90px;
		}
		.mob-l-marg-120{
			margin-left: 120px;
		}
		.mob-l-marg-150{
			margin-left: 150px;
		}
	
		// Right Margin
		.mob-r-marg-15{
			margin-right: 15px;
		}
		.mob-r-marg-30{
			margin-right: 30px;
		}
		.mob-r-marg-45{
			margin-right: 45px;
		}
		.mob-r-marg-60{
			margin-right: 60px;
		}
		.mob-r-marg-75{
			margin-right: 75px;
		}
		.mob-r-marg-90{
			margin-right: 90px;
		}
		.mob-r-marg-120{
			margin-right: 120px;
		}
		.mob-r-marg-150{
			margin-right: 150px;
		}
}


/*==================================================================
 /$$$$$$  /$$$$$$$$ /$$$$$$  /$$$$$$$  /$$ /$$ /$$
 /$$__  $$|__  $$__//$$__  $$| $$__  $$| $$| $$| $$
| $$  \__/   | $$  | $$  \ $$| $$  \ $$| $$| $$| $$
|  $$$$$$    | $$  | $$  | $$| $$$$$$$/| $$| $$| $$
 \____  $$   | $$  | $$  | $$| $$____/ |__/|__/|__/
 /$$  \ $$   | $$  | $$  | $$| $$                  
|  $$$$$$/   | $$  |  $$$$$$/| $$       /$$ /$$ /$$
 \______/    |__/   \______/ |__/      |__/|__/|__/
//===============================================================*/



@media screen and(min-width: 640px){
	.tb-pad-15{
	padding-top: 15px;
	padding-bottom: 15px;
	}
	.tb-pad-30{
	padding-top: 30px;
	padding-bottom: 30px;
	}
	.tb-pad-45{
	padding-top: 45px;
	padding-bottom: 45px;
	}
	.tb-pad-60{
	padding-top: 60px;
	padding-bottom: 60px;
	}
	.tb-pad-75{
	padding-top: 75px;
	padding-bottom: 75px;
	}
	.tb-pad-90{
	padding-top: 90px;
	padding-bottom: 90px;
	}
	.tb-pad-120{
	padding-top: 120px;
	padding-bottom: 120px;
	}
	.tb-pad-150{
	padding-top: 150px;
	padding-bottom: 150px;
	}

	// Top Padding
	.t-pad-15{
	padding-top: 15px;
	}
	.t-pad-30{
	padding-top: 30px;
	}
	.t-pad-45{
	padding-top: 45px;
	}
	.t-pad-60{
	padding-top: 60px;
	}
	.t-pad-75{
	padding-top: 75px;
	}
	.t-pad-90{
	padding-top: 90px;
	}
	.t-pad-120{
	padding-top: 120px;
	}
	.t-pad-150{
	padding-top: 150px;
	}

	// LR-PAD
	.lr-pad-10{
		padding-left: 10px;
		padding-right: 10px;
	}
	.lr-pad-15 {
		padding-left: 15px;
		padding-right: 15px;
	}
	.lr-pad-20{
		padding-left: 20px;
		padding-right: 20px;
	}
	.lr-pad-30 {
		padding-left: 30px;
		padding-right: 30px;
	}
	.lr-pad-45 {
		padding-left: 45px;
		padding-right: 45px;
	}
	.lr-pad-60 {
		padding-left: 60px;
		padding-right: 60px;
	}
	// Bottom Padding
	.b-pad-15{
	padding-bottom: 15px;
	}
	.b-pad-30{
	padding-bottom: 30px;
	}
	.b-pad-45{
	padding-bottom: 45px;
	}
	.b-pad-60{
	padding-bottom: 60px;
	}
	.b-pad-75{
	padding-bottom: 75px;
	}
	.b-pad-90{
	padding-bottom: 90px;
	}
	.b-pad-120{
	padding-bottom: 120px;
	}
	.b-pad-150{
	padding-bottom: 150px;
	}

	// Left/right padding
	.l-pad-30 {
		padding-left: 30px;
	}
	.r-pad-30 {
		padding-right: 30px;
	}

	// Top Margin
	.t-marg-15{
	margin-top: 15px;
	}
	.t-marg-30{
	margin-top: 30px;
	}
	.t-marg-45{
	margin-top: 45px;
	}
	.t-marg-60{
	margin-top: 60px;
	}
	.t-marg-75{
	margin-top: 75px;
	}
	.t-marg-90{
	margin-top: 90px;
	}
	.t-marg-120{
	margin-top: 120px;
	}
	.t-marg-150{
	margin-top: 150px;
	}

	// Bottom Margin
	.b-marg-15{
		margin-bottom: 15px;
	}
	.b-marg-30{
		margin-bottom: 30px;
	}
	.b-marg-45{
		margin-bottom: 45px;
	}
	.b-marg-60{
		margin-bottom: 60px;
	}
	.b-marg-75{
		margin-bottom: 75px;
	}
	.b-marg-90{
		margin-bottom: 90px;
	}
	.b-marg-120{
		margin-bottom: 120px;
	}
	.b-marg-150{
		margin-bottom: 150px;
	}

	// Left Margin
	.l-marg-15{
		margin-left: 15px;
	}
	.l-marg-30{
		margin-left: 30px;
	}
	.l-marg-45{
		margin-left: 45px;
	}
	.l-marg-60{
		margin-left: 60px;
	}
	.l-marg-75{
		margin-left: 75px;
	}
	.l-marg-90{
		margin-left: 90px;
	}
	.l-marg-120{
		margin-left: 120px;
	}
	.l-marg-150{
		margin-left: 150px;
	}

	// Right Margin
	.r-marg-15{
		margin-right: 15px;
	}
	.r-marg-30{
		margin-right: 30px;
	}
	.r-marg-45{
		margin-right: 45px;
	}
	.r-marg-60{
		margin-right: 60px;
	}
	.r-marg-75{
		margin-right: 75px;
	}
	.r-marg-90{
		margin-right: 90px;
	}
	.r-marg-120{
		margin-right: 120px;
	}
	.r-marg-150{
		margin-right: 150px;
	}
}

@media screen and (min-width: 1024px){
	.desk-l-marg-15{
		margin-left: 15px;
	}
	.desk-l-marg-30{
		margin-left: 30px;
	}
}