extends ../template
include ../mixins/cta4

block content
	#hero: .grid-container
		.grid-x: .cell: .hero-text-container
			h1 Press Release
			
	section.white-bg: .grid-container: .grid-x.grid-margin-x
		.cell.t-pad-30.mob-t-pad-15
			p.no-marg Please <a href='/assets/Spoken-Giants-Press-Release.pdf' download>use this link</a> to download a PDF version of the press release.
			p For all press inquiries, please contact Tiffany Shipp at <a href='mailto:tshipp@spokengiants.com'>tshipp@spokengiants.com</a>.
			
		.cell.mob-tb-pad-15.t-pad-15
			object(data="/assets/Spoken-Giants-Press-Release.pdf" type="application/pdf" width="100%" height="900px")
			
		.cell.mob-t-pad-15.mob-b-pad-30.t-pad-30.b-pad-30
			a.button.mob-fullwidth(href="/assets/Spoken-Giants-Press-Release.pdf" download) Download as PDF
			
	+cta4()
