mixin cta
	section.cta: .grid-container: .grid-x.t-pad-60.b-pad-45.mob-t-pad-30.mob-b-pad-15
		.cell.text-center
			h3 Ready to Get Started?
			p Click below to begin an application to join Spoken Giants.
			a.button.r-marg-15(href='/sign-up') Apply Online Now
				i.button-icon.fa.fa-arrow-right
			a.button(href='get-in-touch') Request More Info
				i.button-icon.fa.fa-arrow-right