mixin cta3
	section.cta: .grid-container: .grid-x.t-pad-60.b-pad-45.mob-t-pad-30.mob-b-pad-15
		.cell.text-center
			h3 Still More Questions?
			p You can find help via any of the resources below.
			//- a.button.r-marg-15(href='/sign-up') Apply Online Now
				//- i.button-icon.fa.fa-arrow-right
			a.button.r-marg-15(href='mailto:jking@spokengiants.com?subject=Next Steps With Spoken Giants') Email Spoken Giants
				i.button-icon.fa.fa-arrow-right
			a.button(href='/get-in-touch') Request More Info
				i.button-icon.fa.fa-arrow-right