mixin cta4
	section.cta: .grid-container: .grid-x.t-pad-60.b-pad-45.mob-t-pad-30.mob-b-pad-15
		.cell.text-center
			h3 Want to Get Involved?
			p Spoken Giants eagerly awaits your request.
			a.button.r-marg-15(href='/sign-up') Become a Member
				i.button-icon.fa.fa-arrow-right
			a.button.r-marg-15(href='/licensing') Learn About Licensing
				i.button-icon.fa.fa-arrow-right
			a.button(href='/get-in-touch') Request More Info
				i.button-icon.fa.fa-arrow-right